h1 {
  color: red;
  font-size: 3em;
  font-family: Helvetica;
  text-align: center;
}

h2 {
  color: grey;
  background-color: pink;
  font-family: Georgia;
  padding: 10px;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana;
  border: solid black 5px;
  border-radius: 10px;
  padding: 10px;
}

ul li {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  padding: 10px;
}

p {
  font-size: 24px;
  font-family: Arial;
  background-color: rgba(0, 100, 100, 0.5);
  padding: 10px;
}
